#cart-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #25d366;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 1001;
    cursor: pointer;
    display: none; /* Se activa por JS */
    align-items: center;
    gap: 10px; /* Espacio entre icono y texto */
    border: none;
    font-weight: bold;
}
